* {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

#menuOpener {
    opacity: 0;
}

body {
    background-color: #f5f5f5;
}

.modal {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    transition: 0.3s;
    transform: scale(0);
}

form {
    width: 50%;
    max-width: 450px;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border: 2px solid rgb(180, 180, 180);
}

form h2 {
    font-size: 50px;
    color: rgb(180, 180, 180);
    line-height: 50px;
    margin-bottom: 15px;
}

form input,
form button {
    width: 100%;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
    color: rgb(100, 100, 100);
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 2px solid rgb(180, 180, 180);
    background-color: white;
}

#callMeButton:hover {
    background-color: rgb(200, 255, 200);
}




a {
    text-decoration: none;
}

header {
    background-color: #212121;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 8;
}

#headerLeft {
    transition: 0.5s;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.logo {
    width: 40px;
    height: 50px;
    background-image: url("logoIcon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 100%;
    display: block;
    filter: invert(100%);
    float: left;
    padding: 0 15px;
}

header a {
    color: white;
}

header a:hover {
    background-color: #424242;
}

.headerButton {
    position: relative;
    z-index: 9;
    background-color: #212121;
    line-height: 50px;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.logo:hover {
    background-color: #bdbdbd;
}

ul {
    float: left;
    position: relative;
    z-index: 0;
}

li {
    list-style: none;
    float: left;
}

li:hover nav {
    transform: translate(0, 0);
}

nav {
    background-color: #313131;
    position: absolute;
    transform: translate(0, -100%);
    transition: 0.3s;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

nav a {
    display: block;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.phoneButton {
    display: block;
    float: left;
    padding: 0 10px;
    margin-right: 10px;
}

.phoneButton p {
    display: block;
    float: left;
    line-height: 50px;
    padding-left: 5px;
}

#callMe {
    border: 1px solid white;
    border-radius: 50px;
    line-height: 30px;
    margin-top: 10px;
    display: block;
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.phoneButton img {
    width: 30px;
    height: 50px;
    filter: invert(100%);
    display: block;
    float: left;
}

#headerRight {
    text-align: right;
    float: right;
}

.sliderContainer {
    margin-top: 50px;
    overflow-x: hidden;
}

.slider {
    white-space: nowrap;
    font-size: 0;
    transition: 0.5s;
}

.slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    white-space: normal;
    width: 100%;
}

.slide0 {
    background-image: url("flats/flat0.jpg");
}

.slide1 {
    background-image: url("flats/flat1.jpg");
}

.slide2 {
    background-image: url("flats/flat2.jpg");
}

.slide h2 {
    color: white;
    font-size: 100px;
    text-shadow: 0 0 20px black;
    line-height: 90px;
    padding: 40px;
    padding-left: 0;
}

.slide p {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    width: 65%;
    padding: 20px;
    box-sizing: border-box;
}

.slide a {
    background-color: white;
    color: #222222;
    padding: 0 25px;
    line-height: 40px;
    border-radius: 50px;
    font-size: 24px;
    margin: 50px;
    margin-left: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.slide a:hover,
.sliderButtons a:hover,
.commentButtons a:hover {
    transform: scale(1.1);
}

.sliderButtons {
    font-size: 0;
    text-align: center;
    transform: translate(0, -50%);
}

.sliderButtons a,
.commentButtons a {
    background-image: url("rightArrow.svg");
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    display: inline-block;
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 0 20px;
    margin-left: 3px;
    margin-right: 3px;
}

#slideLeft,
#commentLeft {
    transform: rotate(180deg);
}

#slideLeft:hover,
#commentLeft:hover {
    transform: rotate(180deg) scale(1.1) !important;
}


.sectionTitle {
    text-align: center;
    font-size: 45px;
    margin-bottom: 40px;
}

.flats {
    overflow: hidden;
}

.flat {
    width: calc(100% / 3 - 10px);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 5px;
    margin-bottom: 30px;
    float: left;
    transition: 0.1s;


}

.flat>img {
    width: 100%;
    height: 255px;
    object-fit: cover;
}

.flatInfo {
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

.flatInfo h3 {
    color: #222222;
}

.flatInfo img {
    width: 20px;
    height: 40px;
    float: left;
    opacity: 0.7;
}

.flatInfo p {
    float: left;
    color: #555;
    line-height: 40px;
    padding-left: 5px;
    padding-right: 15px;
}

.flat:hover {
    transform: scale(1.05);
}

.comments {
    overflow: hidden;
}

.pairs {
    height: 160px;
    position: relative;
}

.pair {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
    transform: scale(0.95);
    transition: 0.3s;
}

.activePair {
    opacity: 1;
    transform: scale(1);
    z-index: 2;
}

.comment {
    background-color: white;
    width: calc(50% - 10px);
    box-sizing: border-box;
    float: left;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.comment img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    float: left;
}

.commentInfo {
    float: left;
    margin-left: 10px;
}

.comment h4 {
    font-weight: normal;
}

.comment h3,
.comment h4 {
    line-height: 25px;
}

.comment p {
    line-height: 25px;
    height: 75px;
}

.commentButtons {
    font-size: 0;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    /* нужно для того чтобы абсолютный тег выравнивался относительно данного тега(родителя) */
    position: relative; 
}

#commentMore{
    background: white;
    font-size: 20px;
    color: black;
    line-height: 40px;
    position: absolute;
    right: 0;
}

footer {
    background-color: #212121;
    width: 100%;
    overflow: hidden;
    padding: 40px 0 60px;
    margin-top: 10px;
}

footer a {
    color: white;
    border-radius: 5px;
}

footer a:hover {
    background-color: #424242;
}

.footerRight {
    float: right;
}

.footerRight img {
    display: block;
    width: 20px;
    height: 40px;
    filter: invert(100%);
}

.locationButton {
    float: left;
    padding: 0 10px;
    margin-right: 10px;
}

.locationButton p {
    float: right;
    line-height: 40px;
    margin-left: 5px;
}

.locationButton img {
    float: left;
}

.footerContacts {
    float: right;
}

footer .phoneButton {
    margin: 0;
}

footer .phoneButton p {
    line-height: 40px;
}

.social a {
    float: left;
    width: 40px;
    border-radius: 10px;
}

.social img {
    margin: auto;
}

footer .logo {
    padding: 0;
    width: 50px;
}

@media (max-width: 600px) {
    #headerRight {
        display: none;
    }

    #headerLeft {
        position: fixed;
        width: 100%;
        height: calc(100% - 50px);
        background-color: #212121;
        left: 0;
        top: 50px;
        transform: translateY(calc(-100% - 50px));
    }

    #headerLeft li {
        display: block;
        width: 100%;
    }

    #headerLeft nav {
        display: none;
    }

    .logo {
        float: none;
        margin: auto;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        background-color: #ddd;
        background-size: 50% 80%;
    }

    .hamburgerMenu {
        position: absolute;
        left: 0;
    }

    #burgerMenu {
        background-color: #222222;
        width: 50px;
        height: 50px;
        z-index: 2;
    }

    #menuOpener {
        z-index: -1;
    }

    #burgerMenu span {
        background-color: white;
        height: 2px;
        width: 60%;
        position: absolute;
        display: block;
        left: 20%;
        top: 24px;
        transition: 0.5s;
    }

    #burgerMenu span::before {
        content: "";
        background-color: white;
        height: 2px;
        width: 100%;
        position: absolute;
        display: block;
        left: 0;
        top: 8px;
        transition: 0.3s;
    }

    #burgerMenu span::after {
        content: "";
        background-color: white;
        height: 2px;
        width: 100%;
        position: absolute;
        display: block;
        left: 0;
        bottom: 8px;
        transition: 0.3s;
    }

    #menuOpener:checked~#headerLeft {
        transform: none;
    }

    #menuOpener:checked~#burgerMenu span {
        /* transform: rotate(45deg); */
        background-color: #222222;
    }

    #menuOpener:checked~#burgerMenu span::before {
        top: 0;
        transform: rotate(45deg);
    }

    #menuOpener:checked~#burgerMenu span::after {
        bottom: 0;
        transform: rotate(-45deg);
    }

    .slide h2 {
        font-size: 50px;
        line-height: 45px;
        height: 135px;
        overflow: scroll;
        padding: 10px 40px;
        margin: 30px 0px;
        padding-left: 15px;
    }

    .slide p {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .flat {
        width: calc(100% - 10px);
    }

    .comment {
        width: calc(100% - 10px);
    }

    .comment p {
        overflow: scroll;
    }

    .pairs {
        height: 320px;
    }

    footer {
        text-align: center;
    }

    footer ul,
    .locationButton,
    .phoneButton,
    .social,
    .locationButton img,
    .locationButton p {
        float: none;
        display: inline-block;
        vertical-align: middle;
    }

    .footerRight,
    .footerContacts {
        float: none;
    }
    #commentMore{
        display: block;
        position: static;
        margin: auto;
        margin-top: 6px;
    }
}